{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Capitán América</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quidem aliquid aliquam? Deleniti, molestias.
            Error, labore facere! Odio vero delectus tempore. Voluptas sunt ad id molestias hic aperiam autem commodi!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/capitan-america.jpg" class="img-thumbnail">
    </div>
</div>